<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<html lang="en">
<head>
    <style>
         a { color:#31ab90 }
    </style>
    <meta charset="UTF-8">
    <title>AbmAutor</title>
</head>
<body>
    <a href="/paginaPrincipal" ><i class="fas fa-arrow-left"></i></a>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Genero Principal</th>
            <th>Baja</th>
            <th>Modificacion</th>
        </tr>
        {% for autor in ListaAutores %}
        <tr>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td>
            <td>{{autor.generoPrincipal}}</td>
            <td><a href="/bajaAutor?idAutor={{autor.id}}"><i class="far fa-times-circle"></i></a></td>
            <td><a href="/modificacionAutor?idAutor={{autor.id}}"><i class="fas fa-pen"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <a href="/altaAutor" ><i class="fas fa-plus"></i></a>
</body>
</html>