<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AbmLibreria</title>
</head>
<body>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Dueño</th>
            <th>Libros</th>
            <th>Baja</th>
            <th>Modificacion</th>
        </tr>
        {% for libreria in ListaLibrerias %}
        <tr>
            <td>{{libreria.idLibreria}}</td>
            <td>{{libreria.nombre}}</td>
            <td>{{libreria.direccion}}</td>
            <td>{{libreria.dueño.nombre + " " + libreria.dueño.apellido}}</td>
            <td><a href="/libros?idLibreria={{libreria.idLibreria}}" ><button>Libros</button></a></td>
            <td><a href="/bajaLibreria?idLibreria={{libreria.idLibreria}}" ><button>Baja</button></a></td>
            <td><a href="/modificacionLibreria?idLibreria={{libreria.idLibreria}}" ><button>Modificacion</button></a></td>
        {% endfor %}
        </tr>
    </table>
    <br>
    <a href="/paginaPrincipal" ><button>Volver</button></a>
    <a href="/altaLibreria" ><button>Alta</button></a>
</body>
</html>