<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<html lang="en">
<head>
    <style>
        a { color:#31ab90 }
    </style>
    <meta charset="UTF-8">
    <title>AbmLibreria</title>
</head>
<body>
    <a href="/paginaPrincipal" ><i class="fas fa-arrow-left"></i></a>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Dueño</th>
            <th>Libros</th>
            <th>Baja</th>
            <th>Modificacion</th>
        </tr>
        {% for libreria in ListaLibrerias %}
        <tr>
            <td>{{libreria.idLibreria}}</td>
            <td>{{libreria.nombre}}</td>
            <td>{{libreria.direccion}}</td>
            <td>{{libreria.dueño.nombre + " " + libreria.dueño.apellido}}</td>
            <td><a href="/libros?idLibreria={{libreria.idLibreria}}" ><i class="fas fa-book"></i></a></td>
            <td><a href="/bajaLibreria?idLibreria={{libreria.idLibreria}}" ><i class="far fa-times-circle"></i></a></td>
            <td><a href="/modificacionLibreria?idLibreria={{libreria.idLibreria}}" ><i class="fas fa-pen"></i></a></td>
        {% endfor %}
        </tr>
    </table>
    <br>
    <a href="/altaLibreria" ><i class="fas fa-plus"></i></a>
</body>
</html>