<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<html lang="en">
<head>
    <style>
         a { color:#31ab90 }
    </style>
    <meta charset="UTF-8">
    <title>Alta Autor</title>
</head>
<body>
<a href="/abmAutor" ><i class="fas fa-arrow-left"></i></a>
 <form action="/insertarAutor" method="post">
     <input type="text" name="nombre" placeholder="Nombre">
     <input type="text" name="generoPrincipal" placeholder="Genero Principal">
     <input type="submit" value="Sumbit">
 </form>
</body>
</html>