<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
</head>
<body>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>CantPaginas</th>
        </tr>
        {% for libro in ListaLibros %}
        <tr>
            <th>{{libro.idLibro}}</th>
            <th>{{libro.titulo}}</th>
            <th>{{libro.autor.nombre}}</th>
            <th>{{libro.cantPaginas}}<th>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/abmLibreria" ><button>Volver</button></a>
</body>
</html>