<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
</head>
<body>
    <table width="40%" style="text-align:center" border = "1;">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>CantPaginas</th>
            <th>Remover</th>
        </tr>
        {% for libro in ListaLibros %}
        <tr>
            <td>{{libro.idLibro}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor.nombre}}</td>
            <td>{{libro.cantPaginas}}</td>
            <td><a href="/removerLibro?idLibro={{libro.idLibro}}&idLibreria={{Libreria.idLibreria}}" ><button>Remover</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/abmLibreria" ><button>Volver</button></a>
    <a href="/seleccionarLibros?idLibreria={{Libreria.idLibreria}}"><button>Añadir</button></a>
</body>
</html>