<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<html lang="en">
<head>
    <style>
         a { color:#31ab90 }
    </style>
    <meta charset="UTF-8">
    <title>Modificacion Libros</title>
</head>
<body>
<a href="/abmLibro" ><i class="fas fa-arrow-left"></i></a>
<form action="/modificarLibro" method="post">
    <input type="text" name="idLibro" value="{{Libro.idLibro}}" readonly>
    <input type="text" name="titulo" value="{{Libro.titulo}}">
    <input type="text" name="cantPaginas" value="{{Libro.cantPaginas}}">
    <select name="idAutor">
        {% for autor in ListaAutores %}
        <option value="{{autor.id}}">{{autor.nombre}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Sumbit">
</form>
</body>
</html>