<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button{
    height:40px;
    width:150px;
}
    </style>
    <meta charset="UTF-8">
    <title>PaginaPrincipal</title>
</head>
<body>
     <div>
        <a href="/abmDueño" ><button class="button">ABM Dueño</button></a>
     </div>
     <div>
        <a href="/abmAutor" ><button class="button">ABM Autor</button></a>
     </div>
     <div>
        <a href="/abmLibro" ><button class="button">ABM Libro</button></a>
     </div>
     <div>
        <a href="/abmLibreria" ><button class="button">ABM Libreria</button></a>
     </div>
</body>
</html>