<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Libro</title>
</head>
<body>
<form action="/añadirLibro" method="post">
    <input type="text" name="idLibreria" value="{{Libreria.idLibreria}}" readonly>
    <select name="libro">
          {% for libro in ListaLibros %}
          <option value="{{libro.idLibro}}">{{libro.titulo}}</option>
          {% endfor %}
     </select>

<input type="submit" value="Sumbit">
</form>

<br>
<a href="/libros?idLibreria={{Libreria.idLibreria}}" ><button>Volver</button></a>
</body>
</html>