<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<html lang="en">
<head>
    <style>
         a { color:#31ab90 }
    </style>
    <meta charset="UTF-8">
    <title>Seleccionar Libro</title>
</head>
<body>
<a href="/libros?idLibreria={{Libreria.idLibreria}}" ><i class="fas fa-arrow-left"></i></a>
<form action="/añadirLibro" method="post">
    <input type="text" name="idLibreria" value="{{Libreria.idLibreria}}" readonly>
    <select name="libro">
          {% for libro in ListaLibros %}
          <option value="{{libro.idLibro}}">{{libro.titulo}}</option>
          {% endfor %}
     </select>

<input type="submit" value="Sumbit">
</form>
</body>
</html>